@*@{
    Layout = "*.cshtml";
}

@Html.Partial("~/Views/Partials/header.cshtml")*@

<section class="section">
    <h1>Search results</h1>

    <input type="text" class="gcs gcs_input" name="text" placeholder="Search" style="width:400px;color:#000">

    <ul>
        <li>Query: <div class="gcs gcs_searchquery"></div></li>
        <li>Time: <div class="gcs gcs_timing"></div></li>
        <li>Results count: <div class="gcs gcs_results_count"></div></li>
    </ul>

    <span class="gcs gcs_filetype_filter_select" data-first-option="--Search by file type--"></span>

    <span class="gcs gcs_spelling">No results were found with the given search term. Did you mean: </span>

    <div class="gcs gcs__preloadericon">
        <img src="" />
    </div>

    <div class="gcs gcs_results"></div>

    <div class="gcs gcs_no-results">No results found.</div>

    <input type="button" class="gcs gcs_loadmore" value="Load more" />
    <div class="gcs gcs_pagination"></div>
    <div class="gcs gcs_infinite_scroll"></div>
</section>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
<script src="~/App_Plugins/W3S_GCS/Scripts/gcsearch.js" type="text/javascript"></script>

@*@Html.Partial("~/Views/Partials/footer.cshtml")*@

<!-- Developed by W3S https://w3s.nl -->