@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">
	<h1>Search results</h1>

    <ul>
        <li>Query: <div class="gcs gcs_searchquery"></div></li>
        <li>Time: <div class="gcs gcs_timing"></div></li>
        <li>Results count: <div class="gcs gcs_results_count"></div></li>
    </ul>

    <span class="gcs gcs_filter_filetype" data-first-option="--Search by file type--"></span>

    <span class="gcs gcs_spelling">No results were found with the given search term. Did you mean: </span>

    <div class="gcs gcs_results"></div>

    <div class="gcs gcs_no-results">No results found.</div>

    <input type="button" class="gcs gcs_loadmore" value="Load more" />
    <div class="gcs gcs_pagination"></div>
    <div class="gcs gcs_infinite_scroll"></div>
</section>