Umbraco7/App_Data/Logs/
Umbraco7/App_Data/Models/
Umbraco7/App_Data/packages/
Umbraco7/App_Data/TEMP/
Umbraco7/App_Data/TEMP/PluginCache
Umbraco7/App_Data/cache/
Umbraco7/bin/W3S_GCS.dll
Umbraco7/bin/W3S_GCS.pdb
Umbraco7/bin/W3S_GCS.dll.config
GCS/bin/
GCS/obj/
GCS/packages/
GCS/_bin_deployableAssemblies/
GCS/.vs/
