<form novalidate name=""
      ng-controller="W3S.GCS.EditController"
      ng-show="loaded"
      ng-submit="publish(node)"
      val-form-manager>
    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span12 ng-scope">
                <h1 class="ng-binding">GCS - {{content.name}}</h1>
            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab{{tab.id}}" rel="{{tab.id}}" ng-repeat="tab in content.tabs">
                <div class="umb-pane">
                    <umb-property property="property"
                                    ng-repeat="property in tab.properties">
                        <umb-editor model="property"></umb-editor>
                    </umb-property>
                </div>

                <div class="umb-pane" ng-show="dbError">
                    <p>The database was not correctly configured. Please check if the database user has the permission to write to the database and insert new tables.</p>
                    <p>Required roled:</p>
                    <ul>
                        <li>db_datareader</li>
                        <li>db_datawriter</li>
                        <li>db_ddladmin</li>
                    </ul>

                    <a class="btn btn-success" ng-click="initDb()">
                        Reinitialize database
                    </a>
                </div>

                <div class="btn__save" detect-fold>
                    <div class="btn-group">
                        <button data-hotkey="ctrl+s" class="btn btn-success">
                            Save
                        </button>
                    </div>
                </div>
            </umb-tab>
        </umb-tab-view>
</umb-panel>
</form>
