<input type="text" class="gcs gcs_input" name="text" placeholder="Search">
<input type="button" value="search" class="gcs gcs_btn" />

<div class="gcs gcs_searchquery"></div>
<div class="gcs gcs_timing"></div>
<div class="gcs gcs_results_count"></div>
<div class="gcs gcs_no-results"></div>
<div class="gcs gcs_results"></div>
<div class="gcs gcs_spelling"></div>
<div class="gcs gcs_did_your_mean"></div>
<button class="btn btn-primary btn-lg gcs gcs_loadmore"></button>
<div class="gcs gcs_pagination"></div>
<div class="gcs gcs_infinite_scroll"></div>
<div class="gcs gcs_error"></div>

<span class="gcs gcs_filetype_filter_select search__filter" data-first-option="--Zoeken op bestandstype--"></span>
<span class="gcs gcs_filetype_filter_buttons"></span>
