.gcs__stats__table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	width: 50%;
    margin-bottom: 20px;
}

.gcs__stats__table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.gcs__stats__table tr:nth-child(even) {
    background-color: #dddddd;
}

.gcs__filter__datefilter {
    margin-bottom: 20px;
}

.gcs__readme__container {
    max-width: 900px;
}

.btn__save {
    margin-left: 20px;
}